
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
      font-family: "Montserrat", sans-serif;
}


/* CARD */

.card {
    height: 100vh;
    margin-inline: 1rem;
    padding-block: 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
.card--article {
    position: relative;
    border-radius: 3rem;
    box-shadow: 0 4px 8px hsla(0, 0%, 0%, .5);
    overflow: hidden;
    flex: 0 0 64px;
    transition: flex .5s ease;
    cursor: pointer;
}
.card--img,
.card--shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.card--img {
    
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    transition: scale .4s;
}

.card--shadow {
    background: linear-gradient(180deg, hsla(0,0%,85%,0) 50%, hsla(0,0%,0%,.3) 75%)
}
.card--data{
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    transform: translateY(2rem);
    opacity: 0;
    transition: opacity .4s ease .1s , transform .4s ease .1s;
}
.card--icon {
    width: 48px;
    height: 48px;
    background-color: white;
    border-radius: 50%;
    color: black;
    font-size: 1.5rem;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}
.card--title {
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.card--decription {
    font-size: .875rem;
}

.card--active {
    flex: 5;
}

.card--active .card--data{
    opacity: 1;
    transform: translateY(0);
}

.card--active:hover .card--img {
    scale: 1.1;
}

.card--article:hover {
    flex: 5;
}

.card:has(.card--article:not(.card--active):hover) .card--active {
    flex: 0 0 64px;
}

.card:has(.card--article:not(.card--active):hover).card--active .card--data {
    opacity: 0;
    transform: translateY(2rem);
}

.card--article:hover .card--data {
    opacity: 1;
    transform: translateY(0);
}

/* texto */

.texto{
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
    text-align: justify;
    line-height: 1.6;
    margin-top: -100px;
    background-color: bisque;
    border-radius: 2rem;
}

/*media query*/
@media (width >= 540px ) {
    .card{
        align-items: center;
    }
    .card--article{
        width: 400px;
        justify-self: center;
    }
}

@media (width >= 1150px) {
    .card{
        max-width: 1120px;
        margin-inline: auto;
        flex-direction: row;
        column-gap: 1.5rem;
    }
    .card--article{
        flex: 0 0 80;
        height: 480px; 
    }
    .card--active,
    .card--article:hover{
        flex: 5;
    }
    .card:has(.card--article:not(.card--active)hover) .card--active {
        flex: 0 0 80px;
    }
    .card--data{
        left: 1.5rem;
        bottom: 1.5rem;
    }
    .card--title{
        white-space: nowrap;
    }
    .card--decription{
        font-size: 1rem;
        white-space: nowrap;
    }
}