*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url("imgs/gojopapelparede.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header {
    background-color: #18171a;
    width: 100vw;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 -10px 40px rgba(138, 43, 226, 0.3);
  
}
header img {
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    
}
h1 {
    margin: 0;
    font-size: 32px;
    position: relative;
    display: inline-block;
    color:  rgb(201, 185, 209);;
}

h1::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #8a2be2, #c77dff);
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}
h1:hover::after {
    width: 100%;
}

.container{
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}
.card--container{
    display: grid;
    row-gap: 3.5rem;
}
.card--article{
    position: relative;
    overflow: hidden;
}
.card--img{
    width: 350px;
    border-radius: 1.5rem;
}
.card--data{
    width: 280px;
    background-color: rgb(226, 222, 222);
    padding: 1.5rem 2rem;
    box-shadow: 0  8px 24px hsla(0,0%,0%,.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transition: opacity 1s 1s;
}
.card--descrição{
    display: block;
    font-size: 15px; 
    margin-bottom: .25rem;
}
.card--title{
    font-size: 23px;
    font-weight: 500;
    color: rgb(173, 32, 32);
    margin-bottom: .75rem;
}
.card--button{
    text-decoration: none;
    font-size:15px ;
    font-weight: 500;
    color: rgb(75, 10, 75);
}
.card--button:hover{
    text-decoration: underline;
}
/* animação */
.card--article:hover .card--data{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 3s;
}
.card--article:hover{
    animation: remove-overflow 2s forwards;
}
.card--article:not(:hover){
    animation: show-overflow 2s forwards;
}
.card--article:not(:hover) .card--data{
    animation: remove-data 1s forwards;
}
/* Card animação*/

@keyframes show-data{ 
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-7rem);
    }
}
@keyframes remove-overflow{
    to{
        overflow: initial;
    }
}
@keyframes remove-data{
    0%{
        transform: translateY(-7rem);
    }
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(.5rem);
    }
}
@keyframes show-overflow{
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}
.ap{
    display: flex;
    background-color: #18171a; 
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
    padding: 30px 60px;
    border-radius: 12px;
    color: rgb(201, 185, 209);
    box-shadow: 0 -10px 40px rgba(138, 43, 226, 0.3);
}
.ap p{
    font-size: 18px;
    line-height: 1.6;
    text-align: justify;
}
.video {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
video {
    width: 700px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
footer {
    height: 90px;
    background-color: #18171a;
    position: relative;
    color:rgb(201, 185, 209);
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    box-shadow: 0 -10px 40px rgba(138, 43, 226, 0.3);
}
footer p{
    font-size: 16px;
    margin-top: 10px;
}
/* AJUSTES PRA TELAS PEQUENAS */
@media screen and (max-width: 480px) {
    .container {
        margin-inline: 1rem;
    }
    .card--data{
        width: 250px;
        padding: 1rem;
    }
    .ap{
        max-width: 320px;
        height: 200px;
    }
    .ap p{
        font-size: 14px;
        line-height: 1.4;
    }
    .video{
        width: 320px; 
        display: block;
        }
    
}

@media screen and (min-width: 768px) {
    .card--container{
        grid-template-columns: repeat(1fr);
        column-gap: 1.5rem;
    }
    .ap{
        max-width: auto;
        height: auto;
    }
    ap p{
        max-width: 600px;
    }
}
