*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background: 
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
        url("imgs/susano.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* Css do main*/
main{
     
}
header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 60px;
}
header img {
    width: 100px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
h1 {
    margin: 0;
    font-size: 32px;
    position: relative;
    display: inline-block;
    color:  rgb(201, 185, 209);;
}

h1::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #8a2be2, #c77dff);
    bottom: 0;
    left: 0;
    transition: width 0.4s ease-in-out;
}
h1:hover::after {
    width: 100%;
}

.ap{
    display: flex;
    background-color: #1e1329; 
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    gap: 40px;
    padding: 30px 60px;
    border-radius: 12px;
    color: rgb(201, 185, 209);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.ap p{
    font-size: 18px;
    max-width: 800px;
    line-height: 1.6;
    text-align: justify;
}
.ap img {
    width: 700px;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
     transition: all 0.4s ease;
    filter: brightness(0.85);
}

.ap img:hover {
    transform: scale(1.05);
    filter: brightness(1);
    box-shadow: 0 0 25px rgba(138, 43, 226, 0.7);
}
.video {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
video {
    width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
footer {
    z-index: 1;
    position: relative;
    color: white;
    text-align: center;
    padding: 20px 0;
    overflow: hidden;
    box-shadow: 0 -10px 40px rgba(138, 43, 226, 0.3);
}

footer p {
    color: black;
    z-index: 2;
    position: relative;
}


.fire-video {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom ;
    mix-blend-mode: screen;
    opacity: 1;
    pointer-events: none;
}
